{% extends 'base.html' %}
{% load static %}

{% block title %} Iniciar Sesión {% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% block content %}
<div class="about-banner">
    <!--<h1>Ingresa</h1>-->
</div>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Iniciar Sesión</h3>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </form>
                    <div class="login-form text-center mt-3">
                        <a href="{% url 'register' %}">¿No tienes cuenta? Regístrate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
