{% extends 'base.html' %}
{% load static %}

{% block title %} Registro {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Registro</h3>
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de Usuario:</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Correo Electrónico:</label>
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña:</label>
                            {{ form.password1 }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirma tu Contraseña:</label>
                            {{ form.password2 }}
                        </div>
                        <button type="submit" class="btn custom-btn-primary">Registrarse</button>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <p>¿Ya tienes cuenta? <a href="{% url 'login' %}" class="text-link">Iniciar Sesión</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
